<div class="text-center pt-3 pb-1">

  <div>
    <div class="d-flex justify-content-center align-items-center ">
      <div class="mr-3">
        <%= rightsidebar_button(@user) %>
      </div>
      <div class="profile-picture"></div>
    </div>
    <p class="text-dark"><%= @user.full_name %></p>
  </div>

  <div class="d-flex border-top border-bottom text-dark small">
    <div class="col py-2">
      <p class="mb-0"><%= @user.posts.count %></p>
      <p class="mb-0">Posts</p>
    </div>
    <div class="col py-2 border-left">
      <p class="mb-0"><%= @user.followeds.count - 1 %></p>
      <p class="mb-0">Following</p>
    </div>
    <div class="col py-2 border-left">
      <p class="mb-0"><%= @user.followers.count - 1 %></p>
      <p class="mb-0">Followers</p>
    </div>
  </div>
</div>