<div class="p-3 small font-weight-bold">
  <a class="no-link mr-4 text-secondary" href="/users/<%= params[:id] %><%= params[:user_id] %>">TWEETS</a>
  <a class="no-link mr-4 text-secondary" href="/users/<%= params[:id] %><%= params[:user_id] %>/followers">FOLLOWERS</a>
  <a class="no-link mr-4 text-secondary" href="/users/<%= params[:id] %><%= params[:user_id] %>/followeds">FOLLOWING</a>
</div>