<div class="h-100 container-fluid">
  <div class="row h-100">
    <%= render '/layouts/sidebar' %>
    <div class="col-10 m-0 p-0 bg-light">
      <%= render '/layouts/navbar' %>
      <div class="row m-0 mt-navbar">

        <div class="col-9 px-0">
          <%= cover_image(@user) %>
          <div class="px-3 mt-3">
            <div class="p-3 mt-0 border rounded bg-white">
              <p class="h4 text-dark">Posts from <%= @user.full_name %></p>
              <% @user.posts.order('created_at DESC').each do |p| %>
                <div class="d-flex align-items-center">
                  <%= profile_picture(@user) %>
                  <div class="w-100 pl-3">
                    <div class="d-flex justify-content-between">
                      <span class="h5 text-dark"><%= p.user.full_name %></span>
                      <small class="text-secondary"><%= p.created_at %> </small>
                    </div>
                    <p class="text-dark mb-0"><%= p.text %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-3 p-0">
          <div class="pt-3 pb-1">

            <div class="text-center">
              <div class="d-flex justify-content-center align-items-center ">
                <div class="mr-3 d-flex">
                  <%= follow_button(@user, user_path(@user)) %>
                </div>
                <%= profile_picture(@user) %>
              </div>
              <p class="text-dark"><%= @user.full_name %></p>
            </div>

            <div class="d-flex border-top border-bottom text-dark small text-center">
              <div class="col py-2">
                <p class="mb-0"><%= @user.posts.count %></p>
                <p class="mb-0">Posts</p>
              </div>
              <div class="col py-2 border-left">
                <p class="mb-0"><%= @user.followeds.count - 1 %></p>
                <p class="mb-0">Following</p>
              </div>
              <div class="col py-2 border-left">
                <p class="mb-0"><%= @user.followers.count - 1 %></p>
                <p class="mb-0">Followers</p>
              </div>
            </div>

            <div class="">
              <p class="h4 text-dark border-bottom mb-0 p-3">Followers:</p>
              <% @user.followers.each do |u|%>
                <%= next if u.id == @user.id || u.id == session[:user_id] %>
                <div class="border-bottom d-flex justify-content-between">
                  <div class="d-flex justify-content-between align-items-center w-100 pr-3">
                    <a href="/users/<%= u.id %>" class='text-dark justify-content-center align-items-center no-link d-flex'>
                      <%= profile_picture(u) %>
                      <%= u.full_name %>
                    </a>
                    <%= follow_button(u, user_path(@user)) %>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
