<div class="h-100 container-fluid">
  <div class="row h-100">
    <%= render '/layouts/sidebar' %>
    <div class="col-10 m-0 p-0 bg-light">
      <%= render '/layouts/navbar' %>
      <div class="row m-0 mt-navbar">

        <div class="col-9 border-right px-0">
          <div class="cover-image mb-0"></div>
          <%= render '/users/shownav' %>
          <div class="px-3">
            <div class="pl-3 pt-3 mt-0 border rounded bg-white">
              <p class="h4 text-dark"><%= @user.full_name %>'s followers</p>
              <div class="d-flex p-0 ">
                <% @user.followers.each do |f| %>
                  <%= next if f.id == session[:user_id] %>
                  <div class="col-6 m-0 p-0">
                    <div class="border bg-white mr-3 p-3 mb-3 rounded">
                      <div class="d-flex justify-content-between">
                        <%= f.full_name %>
                        <%= followeds_button(f, @user) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 p-0">
          <%= render '/users/rightsidebar' %>
        </div>

      </div>
    </div>
  </div>
</div>
