<div class="h-100 container-fluid">
  <div class="row h-100">
    <%= render '/layouts/sidebar' %>
    <div class="col-10 m-0 p-0 bg-light">
      <%= render '/layouts/navbar' %>
      <div class="row m-0 mt-navbar">

        <div class="col-9 border-right">
          <%= form_for(@post, url: posts_path, method: 'post') do |f| %>
            <div class="form-group mt-3 p-3 bg-white rounded border">
              <div class="">
                <p class="h4"><%= f.label :new_post, class: 'form-text' %></p>
                <div class="d-flex">
                  <%= f.text_field :text, class: 'post-input border' %>
                  <%= f.submit "Submit post", class: 'post-button text-white py-2' %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="border rounded bg-white p-3 mb-3">
            <% @posts.each do |p| %>
              <div class="d-flex align-items-center">
                <div class="profile-picture"></div>
                <div class="w-100 pl-3">
                  <div class="">
                    <span class="h5 text-dark"><%= p.user.full_name %></span>
                    <small class="text-secondary"> at: <%= p.created_at %> </small>
                  </div>
                  <p class="text-dark mb-0"><%= p.text %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-3 p-3">
          <div class="p-3 border rounded bg-white">
            <p class="h4 py-1">Who to follow</p>
            <% @users.each do |u| %>
              <div class="py-2 d-flex justify-content-between">
                <%= u.full_name %>
                <%= suggestions_button(u) %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


