<div class="h-100 container-fluid">
  <div class="row h-100">
    <%= render '/layouts/sidebar' %>
    <div class="col-10 m-0 p-0 bg-light">
      <%= render '/layouts/navbar' %>
      <div class="row m-0 mt-navbar">

        <div class="col-9 pr-3">

          <%= form_for(@post, url: posts_path, method: 'post') do |f| %>
            <div class="form-group mt-3 p-3 bg-white rounded border">
              <div class="">
                <p class="h4"><%= f.label :new_post, class: 'form-text' %></p>
                <div class="d-flex">
                  <%= f.text_field :text, class: 'post-input border' %>
                  <%= f.submit "Submit post", class: 'post-button text-white py-2' %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="border rounded bg-white p-3 mb-3">
            <p class="h4 text-dark">Most recent posts:</p>
            <%= render :partial => "/layouts/posts", locals: {posts: @posts} %>
          </div>

        </div>

        <div class="col-3 p-0">
          <div class="rounded">
            <p class="h4 p-3 border-bottom mb-0">Who to follow</p>
            <% @users.each do |u| %>
                <div class="border-bottom d-flex justify-content-between">
                  <div class="d-flex justify-content-between align-items-center w-100 pr-3">
                    <a href="/users/<%= u.id %>" class='text-dark justify-content-center align-items-center no-link d-flex'>
                      <%= profile_picture(u) %>
                      <%= u.full_name %>
                    </a>
                    <%= follow_button(u, posts_path) %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


