<div class="col-2 p-0 bg-dark-blue">

  <div class="position-fixed w-16">
    <div class="d-flex p-2 align-items-center text-white no-link">
      <%= profile_picture(current_user) %>
      <p class="mb-0 small"><%= current_user.full_name %></p>
    </div>

    <div class="border-top border-bottom small d-flex p-0 row">
      <div class="text-white border-right text-center col">
        <p class="my-2"><%= current_user.followeds.count - 1 %></p>
        <p class="my-2">Following</p>
      </div>
      <div class="text-white text-center col">
        <p class="my-2 "><%= current_user.followers.count - 1 %></p>
        <p class="my-2">Followers</p>
      </div>
    </div>

    <div class="row small px-3">
      <a href="/posts" class="text-light no-link col py-3">
        <i class="fas fa-home mr-3"></i>HOME
      </a>
    </div>
    <div class="row small px-3">
      <a href="/users" class="text-light no-link col py-3">
        <i class="fas fa-at mr-3"></i>CONNECT
      </a>
    </div>
    <div class="row small px-3">
      <a href="/users/<%= session[:user_id] %>" class="text-light no-link col py-3">
        <i class="fas fa-user mr-3"></i>PROFILE
      </a>
    </div>
    <div class="row small px-3">
      <a href="/users/<%= session[:user_id] %>/edit" class="text-light no-link col py-3">
        <i class="fas fa-images mr-3"></i></i>PICTURES
      </a>
    </div>
  </div>
</div>